.home-icon {
  width: 44px;
  height: 44px;
  background: url('@assets/images/home.png') center center /  42px 42px no-repeat;
}
.home-selected-icon {
  width: 44px;
  height: 44px;
  background: url('@assets/images/home-selected.png') center center /  42px 42px no-repeat;
}
.mine-icon {
  width: 44px;
  height: 44px;
  background: url('@assets/images/mine.png') center center /  42px 42px no-repeat;
}
.mine-selected-icon {
  width: 44px;
  height: 44px;
  background: url('@assets/images/mine-selected.png') center center /  42px 42px no-repeat;
}
